# Backend
cloudmarketBackend/target/
cloudmarketBackend/.idea/
*.iml

# Frontend
cloudmarketFrontend/node_modules/
cloudmarketFrontend/dist/
cloudmarketFrontend/.vercel/

# Segredos
.env
.env.local
*.env

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
